In [1]:
url = 'https://www.basketball-reference.com/leagues/NBA_2023_standings.html#all_confs_standings_E'

In [2]:
#!pip install requests

In [3]:
#!pip install pandas

In [4]:
#!pip install beautifulsoup4

In [5]:
#!pip install ipywidgets

In [6]:
#!jupyter nbextension enable --py widgetsnbextension --sys-prefix;

In [7]:
#!jupyter serverextension enable voila --sys-prefix;

In [8]:
#!pip install lxml

In [4]:
pip install schedule

Collecting schedule
  Using cached schedule-1.1.0-py2.py3-none-any.whl (10 kB)
Installing collected packages: schedule
Successfully installed schedule-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [9]:
import requests

data = requests.get(url)

with open("stats.html", "w+") as f:
        f.write(data.text)

In [10]:
from bs4 import BeautifulSoup

In [11]:
with open("stats.html") as f:
    page = f.read()
    
soup = BeautifulSoup(page, 'html.parser')

In [12]:
confs_standings_E = soup.find(id='confs_standings_E')
confs_standings_W = soup.find(id='confs_standings_W')

In [13]:
import pandas as pd

In [14]:
confs_standings = pd.read_html(str(confs_standings_E) + str(confs_standings_W))
#confs_standings_W = pd.read_html(str(confs_standings_W))

In [15]:
df_E = confs_standings[0]
df_W = confs_standings[1]
df_E.rename({'Eastern Conference': 'Team'}, axis=1, inplace=True)
df_W.rename({'Western Conference': 'Team'}, axis=1, inplace=True)

In [16]:
df_all = pd.concat([df_E, df_W], axis=0)
df_all.reset_index(drop=True, inplace=True)
df_all

                          Team  W  L   W/L%   GB   PS/G   PA/G    SRS
0          Milwaukee Bucks (1)  2  0  1.000    —  107.5   96.5   7.78
1           Boston Celtics (2)  3  1  0.750    —  116.3  115.3  -4.53
2       Washington Wizards (2)  3  1  0.750    —  110.8  105.8   2.00
3        Charlotte Hornets (4)  2  1  0.667  0.5  122.3  111.7  18.02
4            Atlanta Hawks (4)  2  1  0.667  0.5  111.3  110.3   1.45
5          New York Knicks (4)  2  1  0.667  0.5  119.0  107.7   1.24
6      Cleveland Cavaliers (4)  2  1  0.667  0.5  116.7  103.7  13.78
7            Chicago Bulls (8)  2  2  0.500  1.0  108.0  110.0  -0.64
8          Toronto Raptors (8)  2  2  0.500  1.0  105.0  104.0   0.98
9           Brooklyn Nets (10)  1  2  0.333  1.5  113.7  123.0  -2.27
10        Detroit Pistons (11)  1  3  0.250  2.0  108.3  120.8 -16.97
11         Indiana Pacers (11)  1  3  0.250  2.0  117.8  121.5  -8.16
12             Miami Heat (11)  1  3  0.250  2.0  103.5  108.5  -5.80
13     Philadelphia 76ers (11)  1  3  0.250  2.0  107.5  109.0  -2.72
14          Orlando Magic (15)  0  4  0.000  3.0  107.3  115.5 -12.95
15  Portland Trail Blazers (1)  4  0  1.000    —  117.3  108.3   6.44
16    New Orleans Pelicans (2)  3  1  0.750  1.0  122.0  113.3  20.58
17               Utah Jazz (2)  3  1  0.750  1.0  121.3  115.8   7.26
18       San Antonio Spurs (2)  3  1  0.750  1.0  117.0  118.5   0.04
19            Phoenix Suns (2)  3  1  0.750  1.0  116.0  104.5  15.66
20       Memphis Grizzlies (2)  3  1  0.750  1.0  118.5  123.8  -0.37
21  Minnesota Timberwolves (7)  2  2  0.500  2.0  115.8  115.3  -1.00
22    Los Angeles Clippers (7)  2  2  0.500  2.0  100.8  106.5  -7.77
23   Golden State Warriors (7)  2  2  0.500  2.0  120.3  124.0  -6.31
24          Denver Nuggets (7)  2  2  0.500  2.0  115.5  124.5  -8.82
25       Dallas Mavericks (11)  1  2  0.333  2.5  117.7  105.3  24.29
26  Oklahoma City Thunder (12)  1  3  0.250  3.0  109.8  111.8  -6.65
27        Houston Rockets (12)  1  3  0.250  3.0  112.0  119.8  -3.72
28     Los Angeles Lakers (14)  0  3  0.000  3.5  103.3  110.7  -9.88
29       Sacramento Kings (14)  0  3  0.000  3.5  114.0  118.7  -7.22

In [17]:
#df_all.loc[df_all.Team == 'Boston Celtics  (1)']

df_all['Team'] = df_all['Team'].str.split()

In [10]:
for index, row in df_all.iterrows():
    df_all['Team'][index] = df_all.loc['Team'][index][-2]

NameError: name 'df_all' is not defined

In [19]:
df = df_all[['Team','W','L']]

In [20]:
Assaf = {'W':['Warriors','Lakers','76ers','Hawks'],'L':['Pistons','Hornets'], 'score':'', 'name':'Assaf'}
Iddo = {'W':['Bucks','Celtics','Suns','Bulls'], 'L':['Jazz','Kings'], 'score':'','name':'Iddo'}
Liad = {'W': ['Cavaliers','Nets','Rapators','Pelicans'],'L':['Rockets','Thunder'], 'score':'','name':'Liad'}
Yaniv = {'W':['Nuggets','Maverics','Wolves'],'L':['Spurs','Magic','Knicks'], 'score':'','name':'Yaniv'}
Berger = {'W':['Grizzlies','Clippers','Heat'],'L':['Pacers','Wizards','Blazers'], 'score':'','name':'Berger'}

In [21]:
names = [Assaf, Iddo, Liad, Yaniv, Berger]
names

[{'W': ['Warriors', 'Lakers', '76ers', 'Hawks'],
  'L': ['Pistons', 'Hornets'],
  'score': '',
  'name': 'Assaf'},
 {'W': ['Bucks', 'Celtics', 'Suns', 'Bulls'],
  'L': ['Jazz', 'Kings'],
  'score': '',
  'name': 'Iddo'},
 {'W': ['Cavaliers', 'Nets', 'Rapators', 'Pelicans'],
  'L': ['Rockets', 'Thunder'],
  'score': '',
  'name': 'Liad'},
 {'W': ['Nuggets', 'Maverics', 'Wolves'],
  'L': ['Spurs', 'Magic', 'Knicks'],
  'score': '',
  'name': 'Yaniv'},
 {'W': ['Grizzlies', 'Clippers', 'Heat'],
  'L': ['Pacers', 'Wizards', 'Blazers'],
  'score': '',
  'name': 'Berger'}]

In [28]:
for name in names:
    name['score'] = df.loc[df['Team'].isin(name['W']),['W']].sum(axis=0)[0] + df.loc[df['Team'].isin(name['L']),['L']].sum(axis=0)[0]
print(names)

[{'W': ['Warriors', 'Lakers', '76ers', 'Hawks'], 'L': ['Pistons', 'Hornets'], 'score': 9, 'name': 'Assaf'}, {'W': ['Bucks', 'Celtics', 'Suns', 'Bulls'], 'L': ['Jazz', 'Kings'], 'score': 14, 'name': 'Iddo'}, {'W': ['Cavaliers', 'Nets', 'Rapators', 'Pelicans'], 'L': ['Rockets', 'Thunder'], 'score': 12, 'name': 'Liad'}, {'W': ['Nuggets', 'Maverics', 'Wolves'], 'L': ['Spurs', 'Magic', 'Knicks'], 'score': 8, 'name': 'Yaniv'}, {'W': ['Grizzlies', 'Clippers', 'Heat'], 'L': ['Pacers', 'Wizards', 'Blazers'], 'score': 10, 'name': 'Berger'}]

In [30]:
df_scores = pd.DataFrame(names).set_index('name').sort_values('score',ascending=False)
df_scores

,W,L,score
name,,,
Iddo,"[Bucks, Celtics, Suns, Bulls]","[Jazz, Kings]",14
Liad,"[Cavaliers, Nets, Rapators, Pelicans]","[Rockets, Thunder]",12
Berger,"[Grizzlies, Clippers, Heat]","[Pacers, Wizards, Blazers]",10
Assaf,"[Warriors, Lakers, 76ers, Hawks]","[Pistons, Hornets]",9
Yaniv,"[Nuggets, Maverics, Wolves]","[Spurs, Magic, Knicks]",8

In [1]:
from email.mime.text import MIMEText
from email.mime.application import MIMEApplication
from email.mime.multipart import MIMEMultipart
from smtplib import SMTP
import smtplib
import sys

import schedule
import time

import requests

from bs4 import BeautifulSoup 
    
import pandas as pd

In [43]:
def update_scores():
    global df_scores
    url = 'https://www.basketball-reference.com/leagues/NBA_2023_standings.html#all_confs_standings_E'
    data = requests.get(url)

    with open("stats.html", "w+") as f:
        f.write(data.text)
    
    with open("stats.html") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')

    confs_standings_E = soup.find(id='confs_standings_E')
    confs_standings_W = soup.find(id='confs_standings_W')
    
    confs_standings = pd.read_html(str(confs_standings_E) + str(confs_standings_W))
    
    df_E = confs_standings[0]
    df_W = confs_standings[1]
    df_E.rename({'Eastern Conference': 'Team'}, axis=1, inplace=True)
    df_W.rename({'Western Conference': 'Team'}, axis=1, inplace=True)
    
    df_all = pd.concat([df_E, df_W], axis=0)
    df_all.reset_index(drop=True, inplace=True)
    
    df_all['Team'] = df_all['Team'].str.split()
    
    for index, row in df_all.iterrows():
        df_all['Team'][index] = row['Team'][-2]
    
    df = df_all[['Team','W','L']]
    
    Assaf = {'W':['Warriors','Lakers','76ers','Hawks'],'L':['Pistons','Hornets'], 'score':'', 'name':'Assaf'}
    Iddo = {'W':['Bucks','Celtics','Suns','Bulls'], 'L':['Jazz','Kings'], 'score':'','name':'Iddo'}
    Liad = {'W': ['Cavaliers','Nets','Rapators','Pelicans'],'L':['Rockets','Thunder'], 'score':'','name':'Liad'}
    Yaniv = {'W':['Nuggets','Maverics','Wolves'],'L':['Spurs','Magic','Knicks'], 'score':'','name':'Yaniv'}
    Berger = {'W':['Grizzlies','Clippers','Heat'],'L':['Pacers','Wizards','Blazers'], 'score':'','name':'Berger'}

    names = [Assaf, Iddo, Liad, Yaniv, Berger]

    for name in names:
        name['score'] = df.loc[df['Team'].isin(name['W']),['W']].sum(axis=0)[0] + df.loc[df['Team'].isin(name['L']),['L']].sum(axis=0)[0]

    df_scores = pd.DataFrame(names).set_index('name').sort_values('score',ascending=False)

In [ ]:
def send_email():
    
    recipients = ['assafb20@gmail.com','yanivh42@gmail.com','iddomac@gmail.com','liad.porat@gmail.com'] 
    emaillist = [elem.strip().split(',') for elem in recipients]
    msg = MIMEMultipart()
    msg['Subject'] = "Daily scores update"
    msg['From'] = 'assafb20@gmail.com'


    html = """\
    <html>
      <head></head>
      <body>
        {0}
      </body>
    </html>
    """.format(df_scores.to_html())

    part1 = MIMEText(html, 'html')
    msg.attach(part1)

    mail = smtplib.SMTP('smtp.gmail.com', 587)
    mail.ehlo()

    mail.starttls()

    mail.login('assafb20@gmail.com', 'jpytoageodnctktd')
    mail.sendmail(msg['From'], emaillist , msg.as_string())
    mail.quit()

In [44]:
update_scores()

/var/folders/dk/mc88r6b94c1bd2g4pvrrcxww0000gn/T/ipykernel_82734/4089476920.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_all['Team'][index] = row['Team'][-2]

In [45]:
df_scores

,W,L,score
name,,,
Iddo,"[Bucks, Celtics, Suns, Bulls]","[Jazz, Kings]",14
Liad,"[Cavaliers, Nets, Rapators, Pelicans]","[Rockets, Thunder]",12
Berger,"[Grizzlies, Clippers, Heat]","[Pacers, Wizards, Blazers]",10
Assaf,"[Warriors, Lakers, 76ers, Hawks]","[Pistons, Hornets]",9
Yaniv,"[Nuggets, Maverics, Wolves]","[Spurs, Magic, Knicks]",8

In [56]:
schedule.every().day.at("07:00").do(update_scores)

Every 1 day at 07:00:00 do update_scores() (last run: [never], next run: 2022-10-27 07:00:00)

In [55]:
schedule.every().day.at("07:00").do(send_email)

Every 1 day at 07:00:00 do send_email() (last run: [never], next run: 2022-10-27 07:00:00)

In [ ]:
while True:
 
    # Checks whether a scheduled task
    # is pending to run or not
    schedule.run_pending()
    time.sleep(1)